<div class="ui menu">
  <LinkTo @route="concept-specifier" class="item">
    Concept-Specifier
  </LinkTo>
  <LinkTo @route="input-specifier" class="item">
    Input-Specifier
  </LinkTo>
  <LinkTo @route="amalgamation" class="item">
    Amalgamation
  </LinkTo>
  <LinkTo @route="thesis" class="item">
    Thesis
  </LinkTo>
</div>

<div class="ui container">
  {{outlet}}
</div>