<div class="ui menu">
  <LinkTo @route="concept-specifier" @query={{hash concept=null}} class="item">
    Concept-Specifier
  </LinkTo>
  <LinkTo @route="input-specifier" @query={{hash concept1=null concept2=null}} class="item">
    Input-Specifier
  </LinkTo>
  <LinkTo @route="thesis" class="item">
    Thesis
  </LinkTo>
</div>

<div class="ui container">
  {{outlet}}
</div>