<div class="ui menu">
  <LinkTo @route="concept-specifier" class="item">
    Specifier
  </LinkTo>
  <LinkTo @route="thesis" class="item">
    Thesis
  </LinkTo>
</div>

<div class="ui justified text container">
  {{outlet}}
</div>